@{
    ViewData["Title"] = "Home Page";
}

@model User

<form asp-controller="Home" asp-action="Login" method="POST">
    <div class="form-group">
        <label class="">Username</label>
        <span asp-validation-for="Username" class="text-danger"></span>
        <input asp-for="Username" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label class="">Password</label>
        <span asp-validation-for="Password" class="text-danger"></span>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
    </div>
    <button class="btn btn-outline-primary">Submit</button>
</form>
