@model StoryFragment

<h2 class="mb-5">Thank you @{
    if (@Context.Session.GetString("Username") == null)
    {
      <span>Anonymous</span>
    }
    else
    {
      @Context.Session.GetString("Username")
    }
  } for joining us for Story Time!
</h2>

<p>Here is the story, thus far:</p>
<p class="shadow p-3 rounded">@Context.Session.GetString("story")</p>

<form asp-controller="Home" asp-action="AddToStory" method="POST" class="p-3 border rounded">
  <div class="form-group">
    <label>Add a word to the story!</label>
    <input asp-for="Word" type="text" class="form-control">
  </div>
  <button class="btn btn-outline-primary">Submit</button>
</form>