@* For creating a new many to many relationship between Trip and DestinationMedia *@
@model TripDestination

<form asp-controller="Trips" asp-action="AddDestination" asp-route-tripId="@Model.TripId" method="POST">
  <select asp-for="DestinationMediaId" class="form-control">
    @foreach (DestinationMedia dest in ViewBag.UnrelatedDestinations)
    {
      <option value="@dest.DestinationMediaId">@dest.Location - @dest.ShortDescription</option>
    }
  </select>
  <button class="btn btn-sm btn-outline-secondary mt-1">Add</button>
</form>