@model List<Trip>

@{
  ViewData["Title"] = "All Trips";
}

<h2 class="text-center">All Trips</h2>

@foreach (Trip trip in Model)
{
  <div class="p-3 border rounded w-50 mx-auto mb-3">
    <h3>
      <a asp-controller="Trips" asp-action="Details" asp-route-tripId="@trip.TripId">@trip.Name</a>
    </h3>
    <small>Trip organizer: @trip.CreatedBy.FullName()</small>
    <p>@trip.Description</p>
  </div>
}
