@model Trip

@{
  ViewData["Title"] = "Trip Details";
}

<div class="w-75 mx-auto">
  <h2>Trip Details - @Model.Name</h2>
  <small>@Model.Date - @Model.Description</small>
  <p>Add Destination Media</p>
  <hr class="bg-info">
</div>