@* Specify what kind of data is being passed into this view as the ViewModel. *@

@* Syntax 1 *@
@* @model ASPIntro.Models.VideosView *@

@* Syntax 2 - Requires Views/_ViewImports.cshtml file.*@
@model VideosView

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/styles.css">

  <title>Document</title>
</head>

<body class="bg-dark text-light">
  <a href="/">Home</a>
  <h2>Videos!</h2>
  <h3>Random Number: @Model.RandomNumber</h3>

  @foreach (string id in Model.YoutubeVideoIds)
  {
    <iframe width="560" height="315" src="https://www.youtube.com/embed/@id" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  }
</body>

</html>