@*
  Lowercase @model to define the data type this page will receive

  Uppercase @Model to access the data this page received.
*@
@model GuidePage

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>Greetings @Model.Traveler.FullName(), where would you like to travel?</h2>

  <ul>
    @foreach (Destination destination in Model.Destinations)
    {
      <li>
        <a href="/travel/@destination.Name">@destination.Name</a>
      </li>
    }
  </ul>

</body>

</html>