@* syntax 1 *@
@* @model TravelGuide.Models.Traveler *@

@* syntax 2: the @using is needed unless you add it to Views/_ViewImports.cshtml file *@
@* @using TravelGuide.Models *@
@model Traveler

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="~/styles.css">
</head>

<body>

  <h1 class="text-center">Travel Guide</h1>
  <hr>
  <h2>@ViewBag.Introduction</h2>
  <img src="@ViewBag.ImgUrl" alt="Are You Ready For Your Quest">
  <p>Travel guide created in @ViewBag.YearCreated</p>

  <h3>Greetings, what is your name traveller?</h3>

  <form action="/guide" method="POST">
    <div>
      <label>First Name</label>
      <input type="text" name="FirstName">
    </div>

    <div>
      <label>Last Name</label>
      <input type="text" name="LastName">
    </div>
    <button>Please Guide Me On A Journey!</button>
  </form>

</body>

</html>